.splith {
    height:100vh;
      display: flex;
      flex-direction: row;
  }

  .gutter {
      background-color: #F1F2F4;
      background-repeat: no-repeat;
      background-position: 50%;
  }
  .gutter:hover{
    background-color: #0C66E4;
    transition: 0.2s;
  }
  .gutter:active {
    background-color: #0C66E4;
    transition: 0.2s;
}

  .gutter.gutter-horizontal {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
      cursor: col-resize;
  }
  

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}